:root {
    --color-dark-gray: #42515b;
    --color-bright: rgb(245, 245, 245);
    --text-color-blue: rgb(65, 65, 99);
    --color-aqua: #3fcfcfb2;
    --font-size-title-h2: 30px;
    --font-size-paragraph: 15px;
    --font-size-image-big: 23px;
    --font-size-image-small: 28px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--color-dark-gray);
    padding: 5px 0 10px 0;
}

.menu, .container, .row, .side, .line-one, .line-two, .line-three, ul{
    display: flex;
}

.menu {
    align-items: center;
    justify-content: space-between;
}

h1, .subtitle, .text-block {
    background-color: var(--color-aqua);
}

h1 {
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    width: 150%;
    text-align: right;
}

.menu nav a {
    color: var(--color-aqua);
    font-size: 18px;
    padding-right: 40px;
}

main footer {
    background-color: var(--color-bright);
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
}

.mypicture {
    margin-top: 10px;
    border-radius: 55%;
    justify-content: space-around;
    border: 2px solid var(--color-aqua);
    flex: 1;
}

.header-image {
    justify-content: start;
    flex: 6;
    margin: 0 10px 10px 10px;
}


.subtitle {
    position: absolute;
    bottom: 10px;
    right: 16px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

.container img {
    width: 50%;
    height: 25vh;
}

.side {
    align-items: center;
    justify-content: end;
    padding: 10px 5px 10px 5px;
    flex: 1;
}

.side-title h2 {
    font-size: var(--font-size-title-h2);
    color: var(--text-color-blue);
    text-align: right;
}

.article {
    font-size: var(--font-size-paragraph);
    color: var(--text-color-blue);
    line-height: 20px;
    border-left: 3px solid var(--text-color-blue);
    flex: 6;
    padding: 10px 10px 10px 10px;
    margin: 20px 5px 5px 5px;
}

.line-one,
.line-two,
.line-three {
    position: relative;
    text-align: center;
}

.layout-center {
    margin: 0 10px 3px 10px;
    flex: 1;
}

.layout-right,
.layout-left {
    margin: 0px 10px 3px 10px;
    flex: 2;
    position: relative;
    text-align: center;
}

.text-block {
    position: absolute;
    padding: 5px 0 5px 0;
    bottom: 40px;
}

.text-block>h3 {
    font-size: var(--font-size-image-big);
}

.image>a>img {
    width: 100%;
    height: 25vh;
    border: 2.0px solid var(--color-aqua);
    opacity: 0.6;
}

.quiz>a>img {
    width: 100%;
    height: 60vh;
    border: 2.0px solid var(--color-aqua);
    opacity: 0.6;
}

.image>a>img:hover {
    opacity: 0.9;
    transition: .5s ease;
}

ul {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

li {
    padding: 5px 5px 5px 5px;
    text-decoration: underline;
    font-size: var(--font-size-paragraph);
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .menu,
    .line-one,
    .line-two,
    .line-three {
        flex-direction: column;
        width: 98%;
    }

    .menu {
        align-items: flex-start;
        width: 98%;
    }

    li {
        font-size: 8px;
    }

    #about-me>h2,
    #work>h2,
    #contact-me>h2 {
        font-size: 19px;
    }

    .text-block h3,
    p {
        font-size: 15px;
    }

    .article p {
        font-size: 10px;
    }

    .text-block p {
        font-size: 10px;
    }

    .article p {
        width: 98%;
    }

    .menu nav a {
        align-items: flex-start;
        font-size: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 450px) {
    .menu {
        flex-direction: column;
    }

    .container>img {
        height: 15vh;
    }

    .line-one,
    .line-two,
    .line-three {
        flex-direction: row;
    }

    .subtitle>h3 {
        font-size: 10px;
    }

    .text-block h3 {
        font-size: 10px;
    }

    .text-block p {
        font-size: 1px;
    }

    #about-me>h2,
    #work>h2,
    #contact-me>h2 {
        font-size: 10px;
    }

    .image>a>img {
        height: 15vh;
    }

    .quiz>a>img {
        height: 30vh;
    }


    .menu h1 {
        align-items: flex-start;
        font-size: 20px;
    }


    .menu nav a {
        align-items: flex-start;
        font-size: 10px;
        padding-right: 10px;
    }
}